<button mat-button class="btn btn-light" (click)="goBack()">
    ← Back
</button>
<app-loading [loading]="loading()" class="justify-content-center">
    <div class="container d-flex justify-content-center mt-5">
        <mat-card class="general-styles custom-card" *ngIf="hero()">
            <mat-card-title></mat-card-title>
            <mat-card-content>
                <h1>{{hero()!!.name}}</h1>
                <p class="mt-1">{{hero()!!.description}}</p>
                <span class="mt-2">Power: {{hero()!!.power}}</span>
                <div class="mt-1">Weight: {{hero()!!.weight}}</div>
                <div class="mt-1">Years: {{hero()!!.years}}</div>
            </mat-card-content>
        </mat-card>
    </div>
</app-loading>
