<button mat-button class="btn btn-light" (click)="goBack()">
    ← Back
</button>
<app-loading [loading]="loading()" class="justify-content-center">
    <div class="container d-flex justify-content-center mt-5">
        <div class="card" style="width: 10rem;" *ngIf="hero()">
            <h1>{{hero()!!.name}}</h1>
            <h1>{{hero()!!.description}}</h1>
            <h1>{{hero()!!.power}}</h1>
            <h1>{{hero()!!.weight}}</h1>
            <h1>{{hero()!!.years}}</h1>
        </div>
    </div>
</app-loading>
