:host{
    --spinner-width: 100px;
    --spinner-height: 100px;
}
.custom-spinner {
    width: var(--spinner-width) !important;
    height: var(--spinner-height) !important;
    --mat-sys-primary: white !important;
}
